$body: #2c3e50;
$blue1: #0d9ada;
$blue2: #0e89c0;
$blue3: #095a91;
$green1: #0dce77;
$red1: #ec5555;

$gap1: .5rem;
$gap2: 1rem;
$gap3: 1.5rem;
$gap4: 2rem;
$gap5: 2.5rem;
$gap6: 3rem;

$header-fonts: 'Fira Sans Condensed', Helvetica, Arial, sans-serif;
$body-fonts: 'Fira Sans Condensed', Helvetica, Arial, sans-serif;

$image-mask: rgba(24, 76, 111, 0.5);
$over-image-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.5);